@import "_variables";
@import "_mixins";

.excel__header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: $header-height;
    padding: 8px 4px 0;
    display: flex;
    justify-content: space-between;

    & .input {
        margin: 0;
        padding: 2px 7px;
        color: #000;
        border: 1px solid transparent;
        border-radius: 3px;

        &:hover {
            border: 2px solid $border-color;
        }

        &:focus {
            border: 2px solid #1e73e8;
        }
    }

    .button {
        @include button(red);
    }
}
